.students {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: lightblue;
}

.loading {
  margin-top: 100px;
}

.loading:hover {
  cursor: wait;
}

.student-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.student-links li:hover {
  font-weight: bold;
}

.student-details h1 {
  position: absolute;
  top: 1px;
  left: 200px;
  font-size: 50px;
}

footer h1 {
  font-size: 50px;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: lightblue;
}

.labels {
  display: flex;
  justify-content: center;
}

label {
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
}

input {
  top: 20px;
  justify-self: center;
}
